{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Legend of The World - Персонажи</title>
	<!-- Connect CSS -->
	<link rel="stylesheet" href='{% static "global/style.css" %}'>
	<link rel='stylesheet' href='{% static "base/base_style.css" %}'/>
	<link rel="stylesheet" href='{% static "coolstory/style.css" %}'/>
	<!-- Connect img -->
	<link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/png">
	<!-- Connect JavaScript -->
	<script src="{% static 'base/script.js' %}"></script>
</head>
<body>
	{% include 'temp/header.html' %}
	<div class="content-bar-h">
		<div class='space' ></div>
		<div class='person-allperson'>
			<h2>Все персонажи, и их истории</h2>
		</div>
		<div class='content-h'>
			{% block person %}{% endblock %}
		</div>
	</div>
	{% include 'temp/footer.html' %}
</body>
</html>