{% extends 'coolstory/person.html' %}

{% block history %}
	{% if x %}
		{% for x in x %}	
			<div class="content-history">
				<div class="history-title">
						{{x.history_title}}
				</div>
				<div class="history-text">
						{{x.history_text}}
				</div>
				<div class="history-img">
					<img src="{{x.history_photo.url}}" alt="Изображение">
				</div>					
				<div class="history-footer">
					Дата: {{x.history_date}}, Автор: {{x.history_author}}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="history-error">
			<h1>К сожелению для этого персонажа нету историй</h1>
		</div>
	{% endif %}
{% endblock %}

<!-- "{% url 'coolstory:' post.id %}" -->