{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Legend of The World - Главная</title>
	<!-- Connect CSS -->
	<link rel='stylesheet' href='{% static "base/base_style.css" %}'/>
	<link rel="stylesheet" href='{% static "global/style.css" %}'>
	<!-- Connect img -->
	<link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/png">
	<!-- Connect JavaScript -->
	<script src="{% static 'base/script.js' %}"></script>
</head>
<body>
	{% include 'temp/header.html' %}
	<div class="content-bar">
		<div class="space"></div>
		{% block content %}{% endblock %}
	</div>
	{% include 'temp/footer.html' %}
</body>
</html>