<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bot is {{ data[0] }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="loader">
        <h1>{{ data[1] }}</h1>
    </div>
    <div class="loader">
        <span style="--i:1">Ч</span>
        <span style="--i:2">ё</span>
        <span style="--i:3">р</span>
        <span style="--i:4">н</span>
        <span style="--i:5">ы</span>
        <span style="--i:6">й</span>
        <span style="--i:7">_</span>
        <span style="--i:8">Д</span>
        <span style="--i:9">у</span>
        <span style="--i:10">х</span>
	</div>
    <div> </div>
    <div class='button-btn'>
        <a href="home" >{{ data[0] }}</a>
    </div>
    <div class='button-btn'>
        <button ac ></button>
    </div>
</body>
</html>