<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ data[0] }} - Главная страница</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="root">
        <!-- Шапка -->
        <header>
            <!-- Название бота -->
            <div class='botname'>
                {{ data[0] }}
            </div>
            <!-- Ссылки на разные источники -->
            <li>
                <a href="https://discord.gg/tJMrQhN">Группа дискорд</a>
            </li>
            <li>
                <a href="https://discordapp.com/oauth2/authorize?client_id=694224724087144569&permissions=8&scope=bot">Пригласить бота</a>
            </li>
        </header>
        <!-- Контент сайта -->


        <!-- Подвал -->
        <footer>
            <div class="botname">
                © {{ data[0] }} - все права зафырканы.
            </div>
        </footer>
        
    </div>
</body>
</html>